.footer-container {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    text-align: center;
    /* border-top: 2px solid #9e0404; */
}

.footer-columns {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.footer-links > div {
    flex: 1;
    text-align: left;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.social-icons {
    margin: 0;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #9e0404;
}

.footer-links h3 {
    margin-bottom: 0.5rem;
    color: #9e0404;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    transition: color 0.3s;
    color: #fff;
}

.footer-links li:hover {
    color: #9e0404;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.email-input {
    border-radius: 8px 0 0 8px;
    margin-right: 0;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
    transition: border 0.3s, box-shadow 0.3s;
}

.email-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.send-button {
    border-radius: 0 8px 8px 0;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f5;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(10px);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
}

.send-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(255, 255, 255);
} 